body {
    padding: 0px;
    margin: 0px;
    background: rgb(43, 43, 43);
}

.container {
    max-width: 1700px;
    margin: 0 auto;
}



.header {
    color: white;
    background: black;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    box-shadow: 1px 0px 8px 6px rgb(0, 0, 0);
}

.headerText {
    display: flex;
    border: 1px solid white;
    padding: 30px;
}

.cv {
    font-size: 22px;
    color: white;
    display: flex;
    justify-content: center;
    padding: 20px;
    font-weight: bold;
}
.section {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.content {
    background: black;
    padding: 20px;
}

.nav {
    display: flex;
    position: sticky;
    top: 0;
    background: black;
    /* margin-bottom: 20px; */
}

.wrap {
    padding: 20px;
    border: 1px solid white;
    /* width: 600px; */
    width: 50%;
    font-size: 32px;
    color: white;
}

.framework {
    color: white;
    font-size: 28px;
    display: flex;
    justify-content: center;
    text-decoration: underline;
    border-bottom: 1px dashed white;
    padding: 40px;
}

span {
    margin-left: 10px;
    display: none;
}
.project {
    display: flex;
    justify-content: center;
    padding: 30px;
    gap: 20px;
}

.text {
    font-size: 22px;
    color: white;
    /* width: 600px; */
    width: 50%;
}


@media (max-width:1700px) {
    .container {
        max-width: 970px;
    }
}

@media (max-width:992px) {
    .container {
        max-width: 750px;
    }
}

@media (max-width:768px) {
    .container {
        max-width: none;
    }
    .project {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .wrap {
        width: 90%;
        display: flex;
        justify-content: center;
    }
    .text {
        width: 90%;
        display: flex;
        justify-content: center;
        margin-left: 22px;
    }
    .name {
        font-weight: bold;
        font-size: 24px;
    }
    .nav {
        display: none;
    }
    .content {
        padding: 0;
    }
    span {
        display: flex;
    }
    .framework {
        text-decoration: none;
    }
}

